/*WIDTH AND HEIGHT*/

@for $i from 1 through 4 {
    .w#{$i*25} {
        width: 25% * $i $imp;
    }
}

.wdh100{
    width: 100% $imp;	
}

.hgt100{
	height: 100% $imp;
}

.hscreen{
	height: 100vh;
}

.wscreen{
	width: 100vh;
}

/* Font */

@media screen and (max-width:768px){ 
    @for $i from 1 through 30{
        .fs#{$i+5} {
            font-size: 3pt+$i $imp;
        }
    }
}

@for $i from 1 through 50{
	.fs#{$i+5} {
		font-size: 5pt+$i ;
	}
}


@for $i from 1 through 5{
	.ls#{$i} {
		letter-spacing : $i $imp;
	}
}

@for $i from 1 through 3{
	.lh#{$i} {
        line-height: $i $imp;
	}
}


/*TEXT AND PARAGRAPH*/

@media screen and (max-width: 768px) {
  @for $i from 1 through 40 {
    .vh#{$i + 1} {
        font-size: 2pt + $i $imp;
    }
  }
}

@for $i from 1 through 40 {
    .vh#{$i + 1} {
        font-size: 1pt + $i $imp;
    }
}

@for $i from 1 through 5 {
    .ls#{$i} {
        letter-spacing: 0px + $i $imp;
    }
    
    .h#{$i}{
        height: 10px * $i 
    }
    
    .w#{$i}{
        width: 10px * $i 
    }
}

@for $i from 1 through 3 {
    .lh#{$i} {
        line-height: 0px + $i $imp;
    }
}

a{
    text-decoration: none;
}

.alignright{
	text-align: right;
}

.aligncenter{
	text-align: center;
}

.alignleft{
	text-align: left;
}

.alignjus{
	text-align: justify;
}

.tfnone{
    text-transform: none $imp
}

.upper{
    text-transform: uppercase$imp
}

.capital{
    text-transform: capitalize$imp
}


.txtdecor{
	text-decoration:none;
}

.tfnone{
	text-transform:none;
}

.txtupper{
	text-transform:uppercase;
}

.txtcap{
	text-transform:capitalize;
}

.ultype{
    list-style-type: none;
}
/* POSITION */

.floatl{
	float: left $imp;
}

.floatr{
	float: right $imp;
}

.floatn{
    float: none $imp;
}

.hcenter{
    margin: auto;
    clear: both;
}

.vcenter{
    position: absolute;
    top:50%;
    transform: translateY(-50%)
}

.top0{
	top: 0;
}

.btm0{
	bottom: 0;
}

.right0{
	right: 0;
}

.left0{
	left: 0;
}

.posrel{
	position: relative;
}

.posabs{
	position:absolute;
}

.posfix{
	position:fixed;
}

.circle{
    @include border-rad(50%);
}

.zindex{
	z-index:9999999;
}

.displayin{
	display:inline-block;
}

.block{
	display: block;
}

.nol{
    display: none;
}

.horizontalcntr{
    margin: auto $imp;
    clear:both $imp;	
}

.verticalcntr{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

/* MARGIN AND PADDING */

@media screen and (max-width:768px){ 
    @for $i from 0 through 40{
	.m#{$i * 2} {
        margin: $i*2px $imp
	}
	.mtop#{$i * 2} {
        margin-top: $i*2px $imp
	}
	.mbottom#{$i * 2} {
        margin-bottom: $i*2px $imp
	}
	.mleft#{$i * 2} {
        margin-left: $i*2px $imp
	}
	.mright#{$i * 2} {
        margin-right: $i*2px $imp
	}
	.p#{$i * 2} {
        padding: $i*2px $imp
	}
	.ptop#{$i * 2} {
        padding-top: $i*2px $imp
	}
	.pbottom#{$i * 2} {
        padding-bottom: $i*2px $imp
	}
	.pleft#{$i * 2} {
        padding-left: $i*2px $imp
	}
	.pright#{$i * 2} {
        padding-right: $i*2px $imp
	}
    }
}

@for $i from 0 through 40{
	.m#{$i * 5} {
        margin: $i*5px $imp
	}
	.mtop#{$i * 5} {
        margin-top: $i*5px $imp
	}
	.mbottom#{$i * 5} {
        margin-bottom: $i*5px $imp
	}
	.mleft#{$i * 5} {
        margin-left: $i*5px $imp
	}
	.mright#{$i * 5} {
        margin-right: $i*5px $imp
	}
	.p#{$i * 5} {
        padding: $i*5px $imp
	}
	.ptop#{$i * 5} {
        padding-top: $i*5px $imp
	}
	.pbottom#{$i * 5} {
        padding-bottom: $i*5px $imp
	}
	.pleft#{$i * 5} {
        padding-left: $i*5px $imp
	}
	.pright#{$i * 5} {
        padding-right: $i*5px $imp
	}
}

/*BORDER*/

.noborder{
    border: $nn $imp
}

.bleft{
	border-left: $nn $imp;
}

.bright{
	border-right: $nn $imp;
}

.btop{
	border-top: $nn $imp;
}

.bbottom{
	border-bottom: $nn $imp;
}

.sideradius{
    @include border-rad(30px);
}

.circle{
	@include border-rad(50%);
}

.rad{
    @include border-rad(5px);
}

/* SCROLLBAR */

.scroll{
	overflow:scroll;
}

.noscroll{
	overflow:hidden;
}

.scroll-y{
	overflow-y:scroll;
}

.scrollyno{
	overflow-y:hidden;
}

/* SELECTION */

.pointer{
    cursor: pointer;
}
 
::selection, ::-ms-selection, ::-moz-selection, ::-o-selection, ::-webkit-selection {
    background: #14A689;
    color: #fff
}

@media screen and (max-width:768px){ 
    @for $i from 1 through 30{
        .fs#{$i+5} {
            font-size: 3pt+$i $imp;
        }
    }
}

/* Custom */

.footer{
	bottom:0;
	position:absolute;
	margin-right:auto;
	margin-left:auto;
	left: 0px;
	right: 0px;
}

.boxsha{
	box-shadow:none;
}

.nobg{
    background: transparent;
}

.hcenter{
    margin: auto;
    clear: both;
}

.btrans{
    opacity:0.5  $imp;
}

@media screen and (max-width: 768px) {

@for $i from 1 through 5 {
    .ls#{$i} {
        letter-spacing: 0px + $i $imp;
    }
    
    .h#{$i}{
        height: 10px * $i 
    }
    
    .w#{$i}{
        width: 10px * $i 
    }
}

@for $i from 1 through 3 {
    .lh#{$i} {
        line-height: 0px + $i $imp;
    }
}
}
