@mixin bg-gradient($deg, $color1, $color2 ){
.background-image: linear-gradient($deg, $color1 0%, $color2 100%);
}

@mixin btnset($bgbutton) {
    @extend %btn;
    background-color: $bgbutton;
}

@mixin theme($name,$color){
	.bg#{$name} {
        background : $color $imp
	}

	.text#{$name} {
	color: $color $imp
	}
    
    .border#{$name} {
     border: 1px solid $color $imp
    }
	
	.bordersatu#{$name} {
     border: 1px solid $color $imp
    }
    
    .bdl#{$name} {
     border-left: 3px solid $color $imp
    }
    
    .hr#{$name}{
        border-top: 1px solid $color $imp
    }
    .kiri#{$name}{
        background: transparent $imp;
        border-left: 2px solid $color $imp
    }
}

@each $key, $value in $warna{
	@include theme($key, $value);
}

@mixin border-rad($radius){
	border-radius:  $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin transition($val1, $time, $animate) {
  transition: $val1 $time $animate;
    -webkit-transition: $val1 $time $animate;
    -moz-transition: $val1 $time $animate;
    -o-transition: $val1 $time $animate;
    -ms--transition: $val1 $time $animate;
}

@mixin transform($transforms){
  -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin btn($bgbutton){
    @extend %btn;
    background-image: linear-gradient(to right, #A916BA 20%, #F84C63 140%);
    flex: 1 1 auto;
    padding: 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px 1px #eee;
    border-radius: 50px;
    &:hover {
        background-position: right center;
    }
    &:active{
        background-color: lighten($bgbutton,20%);
    }
}


@mixin btnset($bgbutton){
	@extend %btn;
	background-color: $bgbutton;
}


/*@mixin box-shadow($top,$left,$blur,$color,$inset){
              box-shadow: $top $left $blur $color #($insert);
              -webkit-box-shadow: $top $left $blur $color #($insert);
              -moz-box-shadow: $top $left $blur $color #($insert);	
}*/

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)){
	::-webkit-scrollbar{
	   width: $size;
	   height: $size;
	}
	::-webkit-scrollbar-thumb{
	   background: $foreground-color;
	}
	::-webkit-scrollbar-track{
	   background: $foreground-color;
	}
}	

@include scrollbars(.5em,slategray);