$imp:!important;
$nn: none;
$warna: (
    trans  : transparent,
    putih  : #fff,
    hitam  : #000000,
    abumuda: #f2f2f2,
	abum   : #dbdbdb,
    abu3   : #95989A,
    merah  : #bb1111,
    ungu : #A916BA,
    pinka : #F84C63,
    biru : #006FFC,
    biru1 : #33CCCC,
    hijau1 :#2ecc71,
    ungugrad : linear-gradient(to right, #A916BA 20%, #F84C63 140%),
    ungumud :#e080f9,
    birdong : #001317,
    abutua :#DDDDDD,
    hijaubaru : #16876B,
    birumuda : #56B4FE,
    abubaru : #333333,
    abumudabaru : #E0E0E0,
    iconnav : #BFBDC0,
    hovernav : #010B0C,
    icon : #828282,
    abu5 : #E0E0E0
	
);


