.bgtrans {
  background: transparent !important; }

.texttrans {
  color: transparent !important; }

.bordertrans {
  border: 1px solid transparent !important; }

.bordersatutrans {
  border: 1px solid transparent !important; }

.bdltrans {
  border-left: 3px solid transparent !important; }

.hrtrans {
  border-top: 1px solid transparent !important; }

.kiritrans {
  background: transparent !important;
  border-left: 2px solid transparent !important; }

.bgputih {
  background: #fff !important; }

.textputih, .btn-putih, .btn-putih:hover {
  color: #fff !important; }

.borderputih {
  border: 1px solid #fff !important; }

.bordersatuputih {
  border: 1px solid #fff !important; }

.bdlputih {
  border-left: 3px solid #fff !important; }

.hrputih {
  border-top: 1px solid #fff !important; }

.kiriputih {
  background: transparent !important;
  border-left: 2px solid #fff !important; }

.bghitam {
  background: #000000 !important; }

.texthitam {
  color: #000000 !important; }

.borderhitam {
  border: 1px solid #000000 !important; }

.bordersatuhitam {
  border: 1px solid #000000 !important; }

.bdlhitam {
  border-left: 3px solid #000000 !important; }

.hrhitam {
  border-top: 1px solid #000000 !important; }

.kirihitam {
  background: transparent !important;
  border-left: 2px solid #000000 !important; }

.bgabumuda {
  background: #f2f2f2 !important; }

.textabumuda {
  color: #f2f2f2 !important; }

.borderabumuda {
  border: 1px solid #f2f2f2 !important; }

.bordersatuabumuda {
  border: 1px solid #f2f2f2 !important; }

.bdlabumuda {
  border-left: 3px solid #f2f2f2 !important; }

.hrabumuda {
  border-top: 1px solid #f2f2f2 !important; }

.kiriabumuda {
  background: transparent !important;
  border-left: 2px solid #f2f2f2 !important; }

.bgabum {
  background: #dbdbdb !important; }

.textabum {
  color: #dbdbdb !important; }

.borderabum {
  border: 1px solid #dbdbdb !important; }

.bordersatuabum {
  border: 1px solid #dbdbdb !important; }

.bdlabum {
  border-left: 3px solid #dbdbdb !important; }

.hrabum {
  border-top: 1px solid #dbdbdb !important; }

.kiriabum {
  background: transparent !important;
  border-left: 2px solid #dbdbdb !important; }

.bgabu3 {
  background: #95989A !important; }

.textabu3 {
  color: #95989A !important; }

.borderabu3 {
  border: 1px solid #95989A !important; }

.bordersatuabu3 {
  border: 1px solid #95989A !important; }

.bdlabu3 {
  border-left: 3px solid #95989A !important; }

.hrabu3 {
  border-top: 1px solid #95989A !important; }

.kiriabu3 {
  background: transparent !important;
  border-left: 2px solid #95989A !important; }

.bgmerah {
  background: #bb1111 !important; }

.textmerah {
  color: #bb1111 !important; }

.bordermerah {
  border: 1px solid #bb1111 !important; }

.bordersatumerah {
  border: 1px solid #bb1111 !important; }

.bdlmerah {
  border-left: 3px solid #bb1111 !important; }

.hrmerah {
  border-top: 1px solid #bb1111 !important; }

.kirimerah {
  background: transparent !important;
  border-left: 2px solid #bb1111 !important; }

.bgungu {
  background: #A916BA !important; }

.textungu {
  color: #A916BA !important; }

.borderungu {
  border: 1px solid #A916BA !important; }

.bordersatuungu {
  border: 1px solid #A916BA !important; }

.bdlungu {
  border-left: 3px solid #A916BA !important; }

.hrungu {
  border-top: 1px solid #A916BA !important; }

.kiriungu {
  background: transparent !important;
  border-left: 2px solid #A916BA !important; }

.bgpinka {
  background: #F84C63 !important; }

.textpinka {
  color: #F84C63 !important; }

.borderpinka {
  border: 1px solid #F84C63 !important; }

.bordersatupinka {
  border: 1px solid #F84C63 !important; }

.bdlpinka {
  border-left: 3px solid #F84C63 !important; }

.hrpinka {
  border-top: 1px solid #F84C63 !important; }

.kiripinka {
  background: transparent !important;
  border-left: 2px solid #F84C63 !important; }

.bgbiru {
  background: #006FFC !important; }

.textbiru {
  color: #006FFC !important; }

.borderbiru {
  border: 1px solid #006FFC !important; }

.bordersatubiru {
  border: 1px solid #006FFC !important; }

.bdlbiru {
  border-left: 3px solid #006FFC !important; }

.hrbiru {
  border-top: 1px solid #006FFC !important; }

.kiribiru {
  background: transparent !important;
  border-left: 2px solid #006FFC !important; }

.bgbiru1 {
  background: #33CCCC !important; }

.textbiru1 {
  color: #33CCCC !important; }

.borderbiru1 {
  border: 1px solid #33CCCC !important; }

.bordersatubiru1 {
  border: 1px solid #33CCCC !important; }

.bdlbiru1 {
  border-left: 3px solid #33CCCC !important; }

.hrbiru1 {
  border-top: 1px solid #33CCCC !important; }

.kiribiru1 {
  background: transparent !important;
  border-left: 2px solid #33CCCC !important; }

.bghijau1 {
  background: #2ecc71 !important; }

.texthijau1 {
  color: #2ecc71 !important; }

.borderhijau1 {
  border: 1px solid #2ecc71 !important; }

.bordersatuhijau1 {
  border: 1px solid #2ecc71 !important; }

.bdlhijau1 {
  border-left: 3px solid #2ecc71 !important; }

.hrhijau1 {
  border-top: 1px solid #2ecc71 !important; }

.kirihijau1 {
  background: transparent !important;
  border-left: 2px solid #2ecc71 !important; }

.bgungugrad {
  background: linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.textungugrad {
  color: linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.borderungugrad {
  border: 1px solid linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.bordersatuungugrad {
  border: 1px solid linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.bdlungugrad {
  border-left: 3px solid linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.hrungugrad {
  border-top: 1px solid linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.kiriungugrad {
  background: transparent !important;
  border-left: 2px solid linear-gradient(to right, #A916BA 20%, #F84C63 140%) !important; }

.bgungumud {
  background: #e080f9 !important; }

.textungumud {
  color: #e080f9 !important; }

.borderungumud {
  border: 1px solid #e080f9 !important; }

.bordersatuungumud {
  border: 1px solid #e080f9 !important; }

.bdlungumud {
  border-left: 3px solid #e080f9 !important; }

.hrungumud {
  border-top: 1px solid #e080f9 !important; }

.kiriungumud {
  background: transparent !important;
  border-left: 2px solid #e080f9 !important; }

.bgbirdong {
  background: #001317 !important; }

.textbirdong {
  color: #001317 !important; }

.borderbirdong {
  border: 1px solid #001317 !important; }

.bordersatubirdong {
  border: 1px solid #001317 !important; }

.bdlbirdong {
  border-left: 3px solid #001317 !important; }

.hrbirdong {
  border-top: 1px solid #001317 !important; }

.kiribirdong {
  background: transparent !important;
  border-left: 2px solid #001317 !important; }

.bgabutua {
  background: #DDDDDD !important; }

.textabutua {
  color: #DDDDDD !important; }

.borderabutua {
  border: 1px solid #DDDDDD !important; }

.bordersatuabutua {
  border: 1px solid #DDDDDD !important; }

.bdlabutua {
  border-left: 3px solid #DDDDDD !important; }

.hrabutua {
  border-top: 1px solid #DDDDDD !important; }

.kiriabutua {
  background: transparent !important;
  border-left: 2px solid #DDDDDD !important; }

.bghijaubaru {
  background: #16876B !important; }

.texthijaubaru {
  color: #16876B !important; }

.borderhijaubaru {
  border: 1px solid #16876B !important; }

.bordersatuhijaubaru {
  border: 1px solid #16876B !important; }

.bdlhijaubaru {
  border-left: 3px solid #16876B !important; }

.hrhijaubaru {
  border-top: 1px solid #16876B !important; }

.kirihijaubaru {
  background: transparent !important;
  border-left: 2px solid #16876B !important; }

.bgbirumuda, .btn-putih, .btn-putih:hover, .btn-putih:active {
  background: #56B4FE !important; }

.textbirumuda {
  color: #56B4FE !important; }

.borderbirumuda {
  border: 1px solid #56B4FE !important; }

.bordersatubirumuda {
  border: 1px solid #56B4FE !important; }

.bdlbirumuda {
  border-left: 3px solid #56B4FE !important; }

.hrbirumuda {
  border-top: 1px solid #56B4FE !important; }

.kiribirumuda {
  background: transparent !important;
  border-left: 2px solid #56B4FE !important; }

.bgabubaru {
  background: #333333 !important; }

.textabubaru {
  color: #333333 !important; }

.borderabubaru {
  border: 1px solid #333333 !important; }

.bordersatuabubaru {
  border: 1px solid #333333 !important; }

.bdlabubaru {
  border-left: 3px solid #333333 !important; }

.hrabubaru {
  border-top: 1px solid #333333 !important; }

.kiriabubaru {
  background: transparent !important;
  border-left: 2px solid #333333 !important; }

.bgabumudabaru {
  background: #E0E0E0 !important; }

.textabumudabaru {
  color: #E0E0E0 !important; }

.borderabumudabaru {
  border: 1px solid #E0E0E0 !important; }

.bordersatuabumudabaru {
  border: 1px solid #E0E0E0 !important; }

.bdlabumudabaru {
  border-left: 3px solid #E0E0E0 !important; }

.hrabumudabaru {
  border-top: 1px solid #E0E0E0 !important; }

.kiriabumudabaru {
  background: transparent !important;
  border-left: 2px solid #E0E0E0 !important; }

.bgiconnav {
  background: #BFBDC0 !important; }

.texticonnav {
  color: #BFBDC0 !important; }

.bordericonnav {
  border: 1px solid #BFBDC0 !important; }

.bordersatuiconnav {
  border: 1px solid #BFBDC0 !important; }

.bdliconnav {
  border-left: 3px solid #BFBDC0 !important; }

.hriconnav {
  border-top: 1px solid #BFBDC0 !important; }

.kiriiconnav {
  background: transparent !important;
  border-left: 2px solid #BFBDC0 !important; }

.bghovernav {
  background: #010B0C !important; }

.texthovernav {
  color: #010B0C !important; }

.borderhovernav {
  border: 1px solid #010B0C !important; }

.bordersatuhovernav {
  border: 1px solid #010B0C !important; }

.bdlhovernav {
  border-left: 3px solid #010B0C !important; }

.hrhovernav {
  border-top: 1px solid #010B0C !important; }

.kirihovernav {
  background: transparent !important;
  border-left: 2px solid #010B0C !important; }

.bgicon {
  background: #828282 !important; }

.texticon {
  color: #828282 !important; }

.bordericon {
  border: 1px solid #828282 !important; }

.bordersatuicon {
  border: 1px solid #828282 !important; }

.bdlicon {
  border-left: 3px solid #828282 !important; }

.hricon {
  border-top: 1px solid #828282 !important; }

.kiriicon {
  background: transparent !important;
  border-left: 2px solid #828282 !important; }

.bgabu5 {
  background: #E0E0E0 !important; }

.textabu5 {
  color: #E0E0E0 !important; }

.borderabu5 {
  border: 1px solid #E0E0E0 !important; }

.bordersatuabu5 {
  border: 1px solid #E0E0E0 !important; }

.bdlabu5 {
  border-left: 3px solid #E0E0E0 !important; }

.hrabu5 {
  border-top: 1px solid #E0E0E0 !important; }

.kiriabu5 {
  background: transparent !important;
  border-left: 2px solid #E0E0E0 !important; }

/*@mixin box-shadow($top,$left,$blur,$color,$inset){
              box-shadow: $top $left $blur $color #($insert);
              -webkit-box-shadow: $top $left $blur $color #($insert);
              -moz-box-shadow: $top $left $blur $color #($insert);	
}*/
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: slategray; }

::-webkit-scrollbar-track {
  background: slategray; }

/*WIDTH AND HEIGHT*/
.w25 {
  width: 25% !important; }

.w50 {
  width: 50% !important; }

.w75 {
  width: 75% !important; }

.w100 {
  width: 100% !important; }

.wdh100, .btn-putih {
  width: 100% !important; }

.hgt100 {
  height: 100% !important; }

.hscreen {
  height: 100vh; }

.wscreen {
  width: 100vh; }

/* Font */
@media screen and (max-width: 768px) {
  .fs6 {
    font-size: 4pt !important; }

  .fs7 {
    font-size: 5pt !important; }

  .fs8 {
    font-size: 6pt !important; }

  .fs9 {
    font-size: 7pt !important; }

  .fs10 {
    font-size: 8pt !important; }

  .fs11 {
    font-size: 9pt !important; }

  .fs12, .btn-putih {
    font-size: 10pt !important; }

  .fs13 {
    font-size: 11pt !important; }

  .fs14 {
    font-size: 12pt !important; }

  .fs15 {
    font-size: 13pt !important; }

  .fs16 {
    font-size: 14pt !important; }

  .fs17 {
    font-size: 15pt !important; }

  .fs18 {
    font-size: 16pt !important; }

  .fs19 {
    font-size: 17pt !important; }

  .fs20 {
    font-size: 18pt !important; }

  .fs21 {
    font-size: 19pt !important; }

  .fs22 {
    font-size: 20pt !important; }

  .fs23 {
    font-size: 21pt !important; }

  .fs24 {
    font-size: 22pt !important; }

  .fs25 {
    font-size: 23pt !important; }

  .fs26 {
    font-size: 24pt !important; }

  .fs27 {
    font-size: 25pt !important; }

  .fs28 {
    font-size: 26pt !important; }

  .fs29 {
    font-size: 27pt !important; }

  .fs30 {
    font-size: 28pt !important; }

  .fs31 {
    font-size: 29pt !important; }

  .fs32 {
    font-size: 30pt !important; }

  .fs33 {
    font-size: 31pt !important; }

  .fs34 {
    font-size: 32pt !important; }

  .fs35 {
    font-size: 33pt !important; } }
.fs6 {
  font-size: 6pt; }

.fs7 {
  font-size: 7pt; }

.fs8 {
  font-size: 8pt; }

.fs9 {
  font-size: 9pt; }

.fs10 {
  font-size: 10pt; }

.fs11 {
  font-size: 11pt; }

.fs12, .btn-putih {
  font-size: 12pt; }

.fs13 {
  font-size: 13pt; }

.fs14 {
  font-size: 14pt; }

.fs15 {
  font-size: 15pt; }

.fs16 {
  font-size: 16pt; }

.fs17 {
  font-size: 17pt; }

.fs18 {
  font-size: 18pt; }

.fs19 {
  font-size: 19pt; }

.fs20 {
  font-size: 20pt; }

.fs21 {
  font-size: 21pt; }

.fs22 {
  font-size: 22pt; }

.fs23 {
  font-size: 23pt; }

.fs24 {
  font-size: 24pt; }

.fs25 {
  font-size: 25pt; }

.fs26 {
  font-size: 26pt; }

.fs27 {
  font-size: 27pt; }

.fs28 {
  font-size: 28pt; }

.fs29 {
  font-size: 29pt; }

.fs30 {
  font-size: 30pt; }

.fs31 {
  font-size: 31pt; }

.fs32 {
  font-size: 32pt; }

.fs33 {
  font-size: 33pt; }

.fs34 {
  font-size: 34pt; }

.fs35 {
  font-size: 35pt; }

.fs36 {
  font-size: 36pt; }

.fs37 {
  font-size: 37pt; }

.fs38 {
  font-size: 38pt; }

.fs39 {
  font-size: 39pt; }

.fs40 {
  font-size: 40pt; }

.fs41 {
  font-size: 41pt; }

.fs42 {
  font-size: 42pt; }

.fs43 {
  font-size: 43pt; }

.fs44 {
  font-size: 44pt; }

.fs45 {
  font-size: 45pt; }

.fs46 {
  font-size: 46pt; }

.fs47 {
  font-size: 47pt; }

.fs48 {
  font-size: 48pt; }

.fs49 {
  font-size: 49pt; }

.fs50 {
  font-size: 50pt; }

.fs51 {
  font-size: 51pt; }

.fs52 {
  font-size: 52pt; }

.fs53 {
  font-size: 53pt; }

.fs54 {
  font-size: 54pt; }

.fs55 {
  font-size: 55pt; }

.ls1 {
  letter-spacing: 1 !important; }

.ls2 {
  letter-spacing: 2 !important; }

.ls3 {
  letter-spacing: 3 !important; }

.ls4 {
  letter-spacing: 4 !important; }

.ls5 {
  letter-spacing: 5 !important; }

.lh1 {
  line-height: 1 !important; }

.lh2 {
  line-height: 2 !important; }

.lh3 {
  line-height: 3 !important; }

/*TEXT AND PARAGRAPH*/
@media screen and (max-width: 768px) {
  .vh2 {
    font-size: 3pt !important; }

  .vh3 {
    font-size: 4pt !important; }

  .vh4 {
    font-size: 5pt !important; }

  .vh5 {
    font-size: 6pt !important; }

  .vh6 {
    font-size: 7pt !important; }

  .vh7 {
    font-size: 8pt !important; }

  .vh8 {
    font-size: 9pt !important; }

  .vh9 {
    font-size: 10pt !important; }

  .vh10 {
    font-size: 11pt !important; }

  .vh11 {
    font-size: 12pt !important; }

  .vh12 {
    font-size: 13pt !important; }

  .vh13 {
    font-size: 14pt !important; }

  .vh14 {
    font-size: 15pt !important; }

  .vh15 {
    font-size: 16pt !important; }

  .vh16 {
    font-size: 17pt !important; }

  .vh17 {
    font-size: 18pt !important; }

  .vh18 {
    font-size: 19pt !important; }

  .vh19 {
    font-size: 20pt !important; }

  .vh20 {
    font-size: 21pt !important; }

  .vh21 {
    font-size: 22pt !important; }

  .vh22 {
    font-size: 23pt !important; }

  .vh23 {
    font-size: 24pt !important; }

  .vh24 {
    font-size: 25pt !important; }

  .vh25 {
    font-size: 26pt !important; }

  .vh26 {
    font-size: 27pt !important; }

  .vh27 {
    font-size: 28pt !important; }

  .vh28 {
    font-size: 29pt !important; }

  .vh29 {
    font-size: 30pt !important; }

  .vh30 {
    font-size: 31pt !important; }

  .vh31 {
    font-size: 32pt !important; }

  .vh32 {
    font-size: 33pt !important; }

  .vh33 {
    font-size: 34pt !important; }

  .vh34 {
    font-size: 35pt !important; }

  .vh35 {
    font-size: 36pt !important; }

  .vh36 {
    font-size: 37pt !important; }

  .vh37 {
    font-size: 38pt !important; }

  .vh38 {
    font-size: 39pt !important; }

  .vh39 {
    font-size: 40pt !important; }

  .vh40 {
    font-size: 41pt !important; }

  .vh41 {
    font-size: 42pt !important; } }
.vh2 {
  font-size: 2pt !important; }

.vh3 {
  font-size: 3pt !important; }

.vh4 {
  font-size: 4pt !important; }

.vh5 {
  font-size: 5pt !important; }

.vh6 {
  font-size: 6pt !important; }

.vh7 {
  font-size: 7pt !important; }

.vh8 {
  font-size: 8pt !important; }

.vh9 {
  font-size: 9pt !important; }

.vh10 {
  font-size: 10pt !important; }

.vh11 {
  font-size: 11pt !important; }

.vh12 {
  font-size: 12pt !important; }

.vh13 {
  font-size: 13pt !important; }

.vh14 {
  font-size: 14pt !important; }

.vh15 {
  font-size: 15pt !important; }

.vh16 {
  font-size: 16pt !important; }

.vh17 {
  font-size: 17pt !important; }

.vh18 {
  font-size: 18pt !important; }

.vh19 {
  font-size: 19pt !important; }

.vh20 {
  font-size: 20pt !important; }

.vh21 {
  font-size: 21pt !important; }

.vh22 {
  font-size: 22pt !important; }

.vh23 {
  font-size: 23pt !important; }

.vh24 {
  font-size: 24pt !important; }

.vh25 {
  font-size: 25pt !important; }

.vh26 {
  font-size: 26pt !important; }

.vh27 {
  font-size: 27pt !important; }

.vh28 {
  font-size: 28pt !important; }

.vh29 {
  font-size: 29pt !important; }

.vh30 {
  font-size: 30pt !important; }

.vh31 {
  font-size: 31pt !important; }

.vh32 {
  font-size: 32pt !important; }

.vh33 {
  font-size: 33pt !important; }

.vh34 {
  font-size: 34pt !important; }

.vh35 {
  font-size: 35pt !important; }

.vh36 {
  font-size: 36pt !important; }

.vh37 {
  font-size: 37pt !important; }

.vh38 {
  font-size: 38pt !important; }

.vh39 {
  font-size: 39pt !important; }

.vh40 {
  font-size: 40pt !important; }

.vh41 {
  font-size: 41pt !important; }

.ls1 {
  letter-spacing: 1px !important; }

.h1 {
  height: 10px; }

.w1 {
  width: 10px; }

.ls2 {
  letter-spacing: 2px !important; }

.h2 {
  height: 20px; }

.w2 {
  width: 20px; }

.ls3 {
  letter-spacing: 3px !important; }

.h3 {
  height: 30px; }

.w3 {
  width: 30px; }

.ls4 {
  letter-spacing: 4px !important; }

.h4 {
  height: 40px; }

.w4 {
  width: 40px; }

.ls5 {
  letter-spacing: 5px !important; }

.h5 {
  height: 50px; }

.w5 {
  width: 50px; }

.lh1 {
  line-height: 1px !important; }

.lh2 {
  line-height: 2px !important; }

.lh3 {
  line-height: 3px !important; }

a {
  text-decoration: none; }

.alignright {
  text-align: right; }

.aligncenter, .btn-putih {
  text-align: center; }

.alignleft {
  text-align: left; }

.alignjus {
  text-align: justify; }

.tfnone {
  text-transform: none !important; }

.upper {
  text-transform: uppercase !important; }

.capital {
  text-transform: capitalize !important; }

.txtdecor {
  text-decoration: none; }

.tfnone {
  text-transform: none; }

.txtupper {
  text-transform: uppercase; }

.txtcap {
  text-transform: capitalize; }

.ultype {
  list-style-type: none; }

/* POSITION */
.floatl {
  float: left !important; }

.floatr {
  float: right !important; }

.floatn {
  float: none !important; }

.hcenter {
  margin: auto;
  clear: both; }

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.top0 {
  top: 0; }

.btm0 {
  bottom: 0; }

.right0 {
  right: 0; }

.left0 {
  left: 0; }

.posrel {
  position: relative; }

.posabs {
  position: absolute; }

.posfix {
  position: fixed; }

.circle {
  border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%; }

.zindex {
  z-index: 9999999; }

.displayin {
  display: inline-block; }

.block, .btn-putih {
  display: block; }

.nol {
  display: none; }

.horizontalcntr {
  margin: auto !important;
  clear: both !important; }

.verticalcntr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* MARGIN AND PADDING */
@media screen and (max-width: 768px) {
  .m0 {
    margin: 0px !important; }

  .mtop0 {
    margin-top: 0px !important; }

  .mbottom0 {
    margin-bottom: 0px !important; }

  .mleft0 {
    margin-left: 0px !important; }

  .mright0 {
    margin-right: 0px !important; }

  .p0 {
    padding: 0px !important; }

  .ptop0 {
    padding-top: 0px !important; }

  .pbottom0 {
    padding-bottom: 0px !important; }

  .pleft0 {
    padding-left: 0px !important; }

  .pright0 {
    padding-right: 0px !important; }

  .m2 {
    margin: 2px !important; }

  .mtop2 {
    margin-top: 2px !important; }

  .mbottom2 {
    margin-bottom: 2px !important; }

  .mleft2 {
    margin-left: 2px !important; }

  .mright2 {
    margin-right: 2px !important; }

  .p2 {
    padding: 2px !important; }

  .ptop2 {
    padding-top: 2px !important; }

  .pbottom2 {
    padding-bottom: 2px !important; }

  .pleft2 {
    padding-left: 2px !important; }

  .pright2 {
    padding-right: 2px !important; }

  .m4 {
    margin: 4px !important; }

  .mtop4 {
    margin-top: 4px !important; }

  .mbottom4 {
    margin-bottom: 4px !important; }

  .mleft4 {
    margin-left: 4px !important; }

  .mright4 {
    margin-right: 4px !important; }

  .p4 {
    padding: 4px !important; }

  .ptop4 {
    padding-top: 4px !important; }

  .pbottom4 {
    padding-bottom: 4px !important; }

  .pleft4 {
    padding-left: 4px !important; }

  .pright4 {
    padding-right: 4px !important; }

  .m6 {
    margin: 6px !important; }

  .mtop6 {
    margin-top: 6px !important; }

  .mbottom6 {
    margin-bottom: 6px !important; }

  .mleft6 {
    margin-left: 6px !important; }

  .mright6 {
    margin-right: 6px !important; }

  .p6 {
    padding: 6px !important; }

  .ptop6 {
    padding-top: 6px !important; }

  .pbottom6 {
    padding-bottom: 6px !important; }

  .pleft6 {
    padding-left: 6px !important; }

  .pright6 {
    padding-right: 6px !important; }

  .m8 {
    margin: 8px !important; }

  .mtop8 {
    margin-top: 8px !important; }

  .mbottom8 {
    margin-bottom: 8px !important; }

  .mleft8 {
    margin-left: 8px !important; }

  .mright8 {
    margin-right: 8px !important; }

  .p8 {
    padding: 8px !important; }

  .ptop8 {
    padding-top: 8px !important; }

  .pbottom8 {
    padding-bottom: 8px !important; }

  .pleft8 {
    padding-left: 8px !important; }

  .pright8 {
    padding-right: 8px !important; }

  .m10 {
    margin: 10px !important; }

  .mtop10 {
    margin-top: 10px !important; }

  .mbottom10 {
    margin-bottom: 10px !important; }

  .mleft10 {
    margin-left: 10px !important; }

  .mright10 {
    margin-right: 10px !important; }

  .p10, .btn-putih {
    padding: 10px !important; }

  .ptop10 {
    padding-top: 10px !important; }

  .pbottom10 {
    padding-bottom: 10px !important; }

  .pleft10 {
    padding-left: 10px !important; }

  .pright10 {
    padding-right: 10px !important; }

  .m12 {
    margin: 12px !important; }

  .mtop12 {
    margin-top: 12px !important; }

  .mbottom12 {
    margin-bottom: 12px !important; }

  .mleft12 {
    margin-left: 12px !important; }

  .mright12 {
    margin-right: 12px !important; }

  .p12 {
    padding: 12px !important; }

  .ptop12 {
    padding-top: 12px !important; }

  .pbottom12 {
    padding-bottom: 12px !important; }

  .pleft12 {
    padding-left: 12px !important; }

  .pright12 {
    padding-right: 12px !important; }

  .m14 {
    margin: 14px !important; }

  .mtop14 {
    margin-top: 14px !important; }

  .mbottom14 {
    margin-bottom: 14px !important; }

  .mleft14 {
    margin-left: 14px !important; }

  .mright14 {
    margin-right: 14px !important; }

  .p14 {
    padding: 14px !important; }

  .ptop14 {
    padding-top: 14px !important; }

  .pbottom14 {
    padding-bottom: 14px !important; }

  .pleft14 {
    padding-left: 14px !important; }

  .pright14 {
    padding-right: 14px !important; }

  .m16 {
    margin: 16px !important; }

  .mtop16 {
    margin-top: 16px !important; }

  .mbottom16 {
    margin-bottom: 16px !important; }

  .mleft16 {
    margin-left: 16px !important; }

  .mright16 {
    margin-right: 16px !important; }

  .p16 {
    padding: 16px !important; }

  .ptop16 {
    padding-top: 16px !important; }

  .pbottom16 {
    padding-bottom: 16px !important; }

  .pleft16 {
    padding-left: 16px !important; }

  .pright16 {
    padding-right: 16px !important; }

  .m18 {
    margin: 18px !important; }

  .mtop18 {
    margin-top: 18px !important; }

  .mbottom18 {
    margin-bottom: 18px !important; }

  .mleft18 {
    margin-left: 18px !important; }

  .mright18 {
    margin-right: 18px !important; }

  .p18 {
    padding: 18px !important; }

  .ptop18 {
    padding-top: 18px !important; }

  .pbottom18 {
    padding-bottom: 18px !important; }

  .pleft18 {
    padding-left: 18px !important; }

  .pright18 {
    padding-right: 18px !important; }

  .m20 {
    margin: 20px !important; }

  .mtop20 {
    margin-top: 20px !important; }

  .mbottom20 {
    margin-bottom: 20px !important; }

  .mleft20 {
    margin-left: 20px !important; }

  .mright20 {
    margin-right: 20px !important; }

  .p20 {
    padding: 20px !important; }

  .ptop20 {
    padding-top: 20px !important; }

  .pbottom20 {
    padding-bottom: 20px !important; }

  .pleft20 {
    padding-left: 20px !important; }

  .pright20 {
    padding-right: 20px !important; }

  .m22 {
    margin: 22px !important; }

  .mtop22 {
    margin-top: 22px !important; }

  .mbottom22 {
    margin-bottom: 22px !important; }

  .mleft22 {
    margin-left: 22px !important; }

  .mright22 {
    margin-right: 22px !important; }

  .p22 {
    padding: 22px !important; }

  .ptop22 {
    padding-top: 22px !important; }

  .pbottom22 {
    padding-bottom: 22px !important; }

  .pleft22 {
    padding-left: 22px !important; }

  .pright22 {
    padding-right: 22px !important; }

  .m24 {
    margin: 24px !important; }

  .mtop24 {
    margin-top: 24px !important; }

  .mbottom24 {
    margin-bottom: 24px !important; }

  .mleft24 {
    margin-left: 24px !important; }

  .mright24 {
    margin-right: 24px !important; }

  .p24 {
    padding: 24px !important; }

  .ptop24 {
    padding-top: 24px !important; }

  .pbottom24 {
    padding-bottom: 24px !important; }

  .pleft24 {
    padding-left: 24px !important; }

  .pright24 {
    padding-right: 24px !important; }

  .m26 {
    margin: 26px !important; }

  .mtop26 {
    margin-top: 26px !important; }

  .mbottom26 {
    margin-bottom: 26px !important; }

  .mleft26 {
    margin-left: 26px !important; }

  .mright26 {
    margin-right: 26px !important; }

  .p26 {
    padding: 26px !important; }

  .ptop26 {
    padding-top: 26px !important; }

  .pbottom26 {
    padding-bottom: 26px !important; }

  .pleft26 {
    padding-left: 26px !important; }

  .pright26 {
    padding-right: 26px !important; }

  .m28 {
    margin: 28px !important; }

  .mtop28 {
    margin-top: 28px !important; }

  .mbottom28 {
    margin-bottom: 28px !important; }

  .mleft28 {
    margin-left: 28px !important; }

  .mright28 {
    margin-right: 28px !important; }

  .p28 {
    padding: 28px !important; }

  .ptop28 {
    padding-top: 28px !important; }

  .pbottom28 {
    padding-bottom: 28px !important; }

  .pleft28 {
    padding-left: 28px !important; }

  .pright28 {
    padding-right: 28px !important; }

  .m30 {
    margin: 30px !important; }

  .mtop30 {
    margin-top: 30px !important; }

  .mbottom30 {
    margin-bottom: 30px !important; }

  .mleft30 {
    margin-left: 30px !important; }

  .mright30 {
    margin-right: 30px !important; }

  .p30 {
    padding: 30px !important; }

  .ptop30 {
    padding-top: 30px !important; }

  .pbottom30 {
    padding-bottom: 30px !important; }

  .pleft30 {
    padding-left: 30px !important; }

  .pright30 {
    padding-right: 30px !important; }

  .m32 {
    margin: 32px !important; }

  .mtop32 {
    margin-top: 32px !important; }

  .mbottom32 {
    margin-bottom: 32px !important; }

  .mleft32 {
    margin-left: 32px !important; }

  .mright32 {
    margin-right: 32px !important; }

  .p32 {
    padding: 32px !important; }

  .ptop32 {
    padding-top: 32px !important; }

  .pbottom32 {
    padding-bottom: 32px !important; }

  .pleft32 {
    padding-left: 32px !important; }

  .pright32 {
    padding-right: 32px !important; }

  .m34 {
    margin: 34px !important; }

  .mtop34 {
    margin-top: 34px !important; }

  .mbottom34 {
    margin-bottom: 34px !important; }

  .mleft34 {
    margin-left: 34px !important; }

  .mright34 {
    margin-right: 34px !important; }

  .p34 {
    padding: 34px !important; }

  .ptop34 {
    padding-top: 34px !important; }

  .pbottom34 {
    padding-bottom: 34px !important; }

  .pleft34 {
    padding-left: 34px !important; }

  .pright34 {
    padding-right: 34px !important; }

  .m36 {
    margin: 36px !important; }

  .mtop36 {
    margin-top: 36px !important; }

  .mbottom36 {
    margin-bottom: 36px !important; }

  .mleft36 {
    margin-left: 36px !important; }

  .mright36 {
    margin-right: 36px !important; }

  .p36 {
    padding: 36px !important; }

  .ptop36 {
    padding-top: 36px !important; }

  .pbottom36 {
    padding-bottom: 36px !important; }

  .pleft36 {
    padding-left: 36px !important; }

  .pright36 {
    padding-right: 36px !important; }

  .m38 {
    margin: 38px !important; }

  .mtop38 {
    margin-top: 38px !important; }

  .mbottom38 {
    margin-bottom: 38px !important; }

  .mleft38 {
    margin-left: 38px !important; }

  .mright38 {
    margin-right: 38px !important; }

  .p38 {
    padding: 38px !important; }

  .ptop38 {
    padding-top: 38px !important; }

  .pbottom38 {
    padding-bottom: 38px !important; }

  .pleft38 {
    padding-left: 38px !important; }

  .pright38 {
    padding-right: 38px !important; }

  .m40 {
    margin: 40px !important; }

  .mtop40 {
    margin-top: 40px !important; }

  .mbottom40 {
    margin-bottom: 40px !important; }

  .mleft40 {
    margin-left: 40px !important; }

  .mright40 {
    margin-right: 40px !important; }

  .p40 {
    padding: 40px !important; }

  .ptop40 {
    padding-top: 40px !important; }

  .pbottom40 {
    padding-bottom: 40px !important; }

  .pleft40 {
    padding-left: 40px !important; }

  .pright40 {
    padding-right: 40px !important; }

  .m42 {
    margin: 42px !important; }

  .mtop42 {
    margin-top: 42px !important; }

  .mbottom42 {
    margin-bottom: 42px !important; }

  .mleft42 {
    margin-left: 42px !important; }

  .mright42 {
    margin-right: 42px !important; }

  .p42 {
    padding: 42px !important; }

  .ptop42 {
    padding-top: 42px !important; }

  .pbottom42 {
    padding-bottom: 42px !important; }

  .pleft42 {
    padding-left: 42px !important; }

  .pright42 {
    padding-right: 42px !important; }

  .m44 {
    margin: 44px !important; }

  .mtop44 {
    margin-top: 44px !important; }

  .mbottom44 {
    margin-bottom: 44px !important; }

  .mleft44 {
    margin-left: 44px !important; }

  .mright44 {
    margin-right: 44px !important; }

  .p44 {
    padding: 44px !important; }

  .ptop44 {
    padding-top: 44px !important; }

  .pbottom44 {
    padding-bottom: 44px !important; }

  .pleft44 {
    padding-left: 44px !important; }

  .pright44 {
    padding-right: 44px !important; }

  .m46 {
    margin: 46px !important; }

  .mtop46 {
    margin-top: 46px !important; }

  .mbottom46 {
    margin-bottom: 46px !important; }

  .mleft46 {
    margin-left: 46px !important; }

  .mright46 {
    margin-right: 46px !important; }

  .p46 {
    padding: 46px !important; }

  .ptop46 {
    padding-top: 46px !important; }

  .pbottom46 {
    padding-bottom: 46px !important; }

  .pleft46 {
    padding-left: 46px !important; }

  .pright46 {
    padding-right: 46px !important; }

  .m48 {
    margin: 48px !important; }

  .mtop48 {
    margin-top: 48px !important; }

  .mbottom48 {
    margin-bottom: 48px !important; }

  .mleft48 {
    margin-left: 48px !important; }

  .mright48 {
    margin-right: 48px !important; }

  .p48 {
    padding: 48px !important; }

  .ptop48 {
    padding-top: 48px !important; }

  .pbottom48 {
    padding-bottom: 48px !important; }

  .pleft48 {
    padding-left: 48px !important; }

  .pright48 {
    padding-right: 48px !important; }

  .m50 {
    margin: 50px !important; }

  .mtop50 {
    margin-top: 50px !important; }

  .mbottom50 {
    margin-bottom: 50px !important; }

  .mleft50 {
    margin-left: 50px !important; }

  .mright50 {
    margin-right: 50px !important; }

  .p50 {
    padding: 50px !important; }

  .ptop50 {
    padding-top: 50px !important; }

  .pbottom50 {
    padding-bottom: 50px !important; }

  .pleft50 {
    padding-left: 50px !important; }

  .pright50 {
    padding-right: 50px !important; }

  .m52 {
    margin: 52px !important; }

  .mtop52 {
    margin-top: 52px !important; }

  .mbottom52 {
    margin-bottom: 52px !important; }

  .mleft52 {
    margin-left: 52px !important; }

  .mright52 {
    margin-right: 52px !important; }

  .p52 {
    padding: 52px !important; }

  .ptop52 {
    padding-top: 52px !important; }

  .pbottom52 {
    padding-bottom: 52px !important; }

  .pleft52 {
    padding-left: 52px !important; }

  .pright52 {
    padding-right: 52px !important; }

  .m54 {
    margin: 54px !important; }

  .mtop54 {
    margin-top: 54px !important; }

  .mbottom54 {
    margin-bottom: 54px !important; }

  .mleft54 {
    margin-left: 54px !important; }

  .mright54 {
    margin-right: 54px !important; }

  .p54 {
    padding: 54px !important; }

  .ptop54 {
    padding-top: 54px !important; }

  .pbottom54 {
    padding-bottom: 54px !important; }

  .pleft54 {
    padding-left: 54px !important; }

  .pright54 {
    padding-right: 54px !important; }

  .m56 {
    margin: 56px !important; }

  .mtop56 {
    margin-top: 56px !important; }

  .mbottom56 {
    margin-bottom: 56px !important; }

  .mleft56 {
    margin-left: 56px !important; }

  .mright56 {
    margin-right: 56px !important; }

  .p56 {
    padding: 56px !important; }

  .ptop56 {
    padding-top: 56px !important; }

  .pbottom56 {
    padding-bottom: 56px !important; }

  .pleft56 {
    padding-left: 56px !important; }

  .pright56 {
    padding-right: 56px !important; }

  .m58 {
    margin: 58px !important; }

  .mtop58 {
    margin-top: 58px !important; }

  .mbottom58 {
    margin-bottom: 58px !important; }

  .mleft58 {
    margin-left: 58px !important; }

  .mright58 {
    margin-right: 58px !important; }

  .p58 {
    padding: 58px !important; }

  .ptop58 {
    padding-top: 58px !important; }

  .pbottom58 {
    padding-bottom: 58px !important; }

  .pleft58 {
    padding-left: 58px !important; }

  .pright58 {
    padding-right: 58px !important; }

  .m60 {
    margin: 60px !important; }

  .mtop60 {
    margin-top: 60px !important; }

  .mbottom60 {
    margin-bottom: 60px !important; }

  .mleft60 {
    margin-left: 60px !important; }

  .mright60 {
    margin-right: 60px !important; }

  .p60 {
    padding: 60px !important; }

  .ptop60 {
    padding-top: 60px !important; }

  .pbottom60 {
    padding-bottom: 60px !important; }

  .pleft60 {
    padding-left: 60px !important; }

  .pright60 {
    padding-right: 60px !important; }

  .m62 {
    margin: 62px !important; }

  .mtop62 {
    margin-top: 62px !important; }

  .mbottom62 {
    margin-bottom: 62px !important; }

  .mleft62 {
    margin-left: 62px !important; }

  .mright62 {
    margin-right: 62px !important; }

  .p62 {
    padding: 62px !important; }

  .ptop62 {
    padding-top: 62px !important; }

  .pbottom62 {
    padding-bottom: 62px !important; }

  .pleft62 {
    padding-left: 62px !important; }

  .pright62 {
    padding-right: 62px !important; }

  .m64 {
    margin: 64px !important; }

  .mtop64 {
    margin-top: 64px !important; }

  .mbottom64 {
    margin-bottom: 64px !important; }

  .mleft64 {
    margin-left: 64px !important; }

  .mright64 {
    margin-right: 64px !important; }

  .p64 {
    padding: 64px !important; }

  .ptop64 {
    padding-top: 64px !important; }

  .pbottom64 {
    padding-bottom: 64px !important; }

  .pleft64 {
    padding-left: 64px !important; }

  .pright64 {
    padding-right: 64px !important; }

  .m66 {
    margin: 66px !important; }

  .mtop66 {
    margin-top: 66px !important; }

  .mbottom66 {
    margin-bottom: 66px !important; }

  .mleft66 {
    margin-left: 66px !important; }

  .mright66 {
    margin-right: 66px !important; }

  .p66 {
    padding: 66px !important; }

  .ptop66 {
    padding-top: 66px !important; }

  .pbottom66 {
    padding-bottom: 66px !important; }

  .pleft66 {
    padding-left: 66px !important; }

  .pright66 {
    padding-right: 66px !important; }

  .m68 {
    margin: 68px !important; }

  .mtop68 {
    margin-top: 68px !important; }

  .mbottom68 {
    margin-bottom: 68px !important; }

  .mleft68 {
    margin-left: 68px !important; }

  .mright68 {
    margin-right: 68px !important; }

  .p68 {
    padding: 68px !important; }

  .ptop68 {
    padding-top: 68px !important; }

  .pbottom68 {
    padding-bottom: 68px !important; }

  .pleft68 {
    padding-left: 68px !important; }

  .pright68 {
    padding-right: 68px !important; }

  .m70 {
    margin: 70px !important; }

  .mtop70 {
    margin-top: 70px !important; }

  .mbottom70 {
    margin-bottom: 70px !important; }

  .mleft70 {
    margin-left: 70px !important; }

  .mright70 {
    margin-right: 70px !important; }

  .p70 {
    padding: 70px !important; }

  .ptop70 {
    padding-top: 70px !important; }

  .pbottom70 {
    padding-bottom: 70px !important; }

  .pleft70 {
    padding-left: 70px !important; }

  .pright70 {
    padding-right: 70px !important; }

  .m72 {
    margin: 72px !important; }

  .mtop72 {
    margin-top: 72px !important; }

  .mbottom72 {
    margin-bottom: 72px !important; }

  .mleft72 {
    margin-left: 72px !important; }

  .mright72 {
    margin-right: 72px !important; }

  .p72 {
    padding: 72px !important; }

  .ptop72 {
    padding-top: 72px !important; }

  .pbottom72 {
    padding-bottom: 72px !important; }

  .pleft72 {
    padding-left: 72px !important; }

  .pright72 {
    padding-right: 72px !important; }

  .m74 {
    margin: 74px !important; }

  .mtop74 {
    margin-top: 74px !important; }

  .mbottom74 {
    margin-bottom: 74px !important; }

  .mleft74 {
    margin-left: 74px !important; }

  .mright74 {
    margin-right: 74px !important; }

  .p74 {
    padding: 74px !important; }

  .ptop74 {
    padding-top: 74px !important; }

  .pbottom74 {
    padding-bottom: 74px !important; }

  .pleft74 {
    padding-left: 74px !important; }

  .pright74 {
    padding-right: 74px !important; }

  .m76 {
    margin: 76px !important; }

  .mtop76 {
    margin-top: 76px !important; }

  .mbottom76 {
    margin-bottom: 76px !important; }

  .mleft76 {
    margin-left: 76px !important; }

  .mright76 {
    margin-right: 76px !important; }

  .p76 {
    padding: 76px !important; }

  .ptop76 {
    padding-top: 76px !important; }

  .pbottom76 {
    padding-bottom: 76px !important; }

  .pleft76 {
    padding-left: 76px !important; }

  .pright76 {
    padding-right: 76px !important; }

  .m78 {
    margin: 78px !important; }

  .mtop78 {
    margin-top: 78px !important; }

  .mbottom78 {
    margin-bottom: 78px !important; }

  .mleft78 {
    margin-left: 78px !important; }

  .mright78 {
    margin-right: 78px !important; }

  .p78 {
    padding: 78px !important; }

  .ptop78 {
    padding-top: 78px !important; }

  .pbottom78 {
    padding-bottom: 78px !important; }

  .pleft78 {
    padding-left: 78px !important; }

  .pright78 {
    padding-right: 78px !important; }

  .m80 {
    margin: 80px !important; }

  .mtop80 {
    margin-top: 80px !important; }

  .mbottom80 {
    margin-bottom: 80px !important; }

  .mleft80 {
    margin-left: 80px !important; }

  .mright80 {
    margin-right: 80px !important; }

  .p80 {
    padding: 80px !important; }

  .ptop80 {
    padding-top: 80px !important; }

  .pbottom80 {
    padding-bottom: 80px !important; }

  .pleft80 {
    padding-left: 80px !important; }

  .pright80 {
    padding-right: 80px !important; } }
.m0 {
  margin: 0px !important; }

.mtop0 {
  margin-top: 0px !important; }

.mbottom0 {
  margin-bottom: 0px !important; }

.mleft0 {
  margin-left: 0px !important; }

.mright0 {
  margin-right: 0px !important; }

.p0 {
  padding: 0px !important; }

.ptop0 {
  padding-top: 0px !important; }

.pbottom0 {
  padding-bottom: 0px !important; }

.pleft0 {
  padding-left: 0px !important; }

.pright0 {
  padding-right: 0px !important; }

.m5, .btn-putih {
  margin: 5px !important; }

.mtop5 {
  margin-top: 5px !important; }

.mbottom5 {
  margin-bottom: 5px !important; }

.mleft5 {
  margin-left: 5px !important; }

.mright5 {
  margin-right: 5px !important; }

.p5 {
  padding: 5px !important; }

.ptop5 {
  padding-top: 5px !important; }

.pbottom5 {
  padding-bottom: 5px !important; }

.pleft5 {
  padding-left: 5px !important; }

.pright5 {
  padding-right: 5px !important; }

.m10 {
  margin: 10px !important; }

.mtop10 {
  margin-top: 10px !important; }

.mbottom10 {
  margin-bottom: 10px !important; }

.mleft10 {
  margin-left: 10px !important; }

.mright10 {
  margin-right: 10px !important; }

.p10, .btn-putih {
  padding: 10px !important; }

.ptop10 {
  padding-top: 10px !important; }

.pbottom10 {
  padding-bottom: 10px !important; }

.pleft10 {
  padding-left: 10px !important; }

.pright10 {
  padding-right: 10px !important; }

.m15 {
  margin: 15px !important; }

.mtop15 {
  margin-top: 15px !important; }

.mbottom15 {
  margin-bottom: 15px !important; }

.mleft15 {
  margin-left: 15px !important; }

.mright15 {
  margin-right: 15px !important; }

.p15 {
  padding: 15px !important; }

.ptop15 {
  padding-top: 15px !important; }

.pbottom15 {
  padding-bottom: 15px !important; }

.pleft15 {
  padding-left: 15px !important; }

.pright15 {
  padding-right: 15px !important; }

.m20 {
  margin: 20px !important; }

.mtop20 {
  margin-top: 20px !important; }

.mbottom20 {
  margin-bottom: 20px !important; }

.mleft20 {
  margin-left: 20px !important; }

.mright20 {
  margin-right: 20px !important; }

.p20 {
  padding: 20px !important; }

.ptop20 {
  padding-top: 20px !important; }

.pbottom20 {
  padding-bottom: 20px !important; }

.pleft20 {
  padding-left: 20px !important; }

.pright20 {
  padding-right: 20px !important; }

.m25 {
  margin: 25px !important; }

.mtop25 {
  margin-top: 25px !important; }

.mbottom25 {
  margin-bottom: 25px !important; }

.mleft25 {
  margin-left: 25px !important; }

.mright25 {
  margin-right: 25px !important; }

.p25 {
  padding: 25px !important; }

.ptop25 {
  padding-top: 25px !important; }

.pbottom25 {
  padding-bottom: 25px !important; }

.pleft25 {
  padding-left: 25px !important; }

.pright25 {
  padding-right: 25px !important; }

.m30 {
  margin: 30px !important; }

.mtop30 {
  margin-top: 30px !important; }

.mbottom30 {
  margin-bottom: 30px !important; }

.mleft30 {
  margin-left: 30px !important; }

.mright30 {
  margin-right: 30px !important; }

.p30 {
  padding: 30px !important; }

.ptop30 {
  padding-top: 30px !important; }

.pbottom30 {
  padding-bottom: 30px !important; }

.pleft30 {
  padding-left: 30px !important; }

.pright30 {
  padding-right: 30px !important; }

.m35 {
  margin: 35px !important; }

.mtop35 {
  margin-top: 35px !important; }

.mbottom35 {
  margin-bottom: 35px !important; }

.mleft35 {
  margin-left: 35px !important; }

.mright35 {
  margin-right: 35px !important; }

.p35 {
  padding: 35px !important; }

.ptop35 {
  padding-top: 35px !important; }

.pbottom35 {
  padding-bottom: 35px !important; }

.pleft35 {
  padding-left: 35px !important; }

.pright35 {
  padding-right: 35px !important; }

.m40 {
  margin: 40px !important; }

.mtop40 {
  margin-top: 40px !important; }

.mbottom40 {
  margin-bottom: 40px !important; }

.mleft40 {
  margin-left: 40px !important; }

.mright40 {
  margin-right: 40px !important; }

.p40 {
  padding: 40px !important; }

.ptop40 {
  padding-top: 40px !important; }

.pbottom40 {
  padding-bottom: 40px !important; }

.pleft40 {
  padding-left: 40px !important; }

.pright40 {
  padding-right: 40px !important; }

.m45 {
  margin: 45px !important; }

.mtop45 {
  margin-top: 45px !important; }

.mbottom45 {
  margin-bottom: 45px !important; }

.mleft45 {
  margin-left: 45px !important; }

.mright45 {
  margin-right: 45px !important; }

.p45 {
  padding: 45px !important; }

.ptop45 {
  padding-top: 45px !important; }

.pbottom45 {
  padding-bottom: 45px !important; }

.pleft45 {
  padding-left: 45px !important; }

.pright45 {
  padding-right: 45px !important; }

.m50 {
  margin: 50px !important; }

.mtop50 {
  margin-top: 50px !important; }

.mbottom50 {
  margin-bottom: 50px !important; }

.mleft50 {
  margin-left: 50px !important; }

.mright50 {
  margin-right: 50px !important; }

.p50 {
  padding: 50px !important; }

.ptop50 {
  padding-top: 50px !important; }

.pbottom50 {
  padding-bottom: 50px !important; }

.pleft50 {
  padding-left: 50px !important; }

.pright50 {
  padding-right: 50px !important; }

.m55 {
  margin: 55px !important; }

.mtop55 {
  margin-top: 55px !important; }

.mbottom55 {
  margin-bottom: 55px !important; }

.mleft55 {
  margin-left: 55px !important; }

.mright55 {
  margin-right: 55px !important; }

.p55 {
  padding: 55px !important; }

.ptop55 {
  padding-top: 55px !important; }

.pbottom55 {
  padding-bottom: 55px !important; }

.pleft55 {
  padding-left: 55px !important; }

.pright55 {
  padding-right: 55px !important; }

.m60 {
  margin: 60px !important; }

.mtop60 {
  margin-top: 60px !important; }

.mbottom60 {
  margin-bottom: 60px !important; }

.mleft60 {
  margin-left: 60px !important; }

.mright60 {
  margin-right: 60px !important; }

.p60 {
  padding: 60px !important; }

.ptop60 {
  padding-top: 60px !important; }

.pbottom60 {
  padding-bottom: 60px !important; }

.pleft60 {
  padding-left: 60px !important; }

.pright60 {
  padding-right: 60px !important; }

.m65 {
  margin: 65px !important; }

.mtop65 {
  margin-top: 65px !important; }

.mbottom65 {
  margin-bottom: 65px !important; }

.mleft65 {
  margin-left: 65px !important; }

.mright65 {
  margin-right: 65px !important; }

.p65 {
  padding: 65px !important; }

.ptop65 {
  padding-top: 65px !important; }

.pbottom65 {
  padding-bottom: 65px !important; }

.pleft65 {
  padding-left: 65px !important; }

.pright65 {
  padding-right: 65px !important; }

.m70 {
  margin: 70px !important; }

.mtop70 {
  margin-top: 70px !important; }

.mbottom70 {
  margin-bottom: 70px !important; }

.mleft70 {
  margin-left: 70px !important; }

.mright70 {
  margin-right: 70px !important; }

.p70 {
  padding: 70px !important; }

.ptop70 {
  padding-top: 70px !important; }

.pbottom70 {
  padding-bottom: 70px !important; }

.pleft70 {
  padding-left: 70px !important; }

.pright70 {
  padding-right: 70px !important; }

.m75 {
  margin: 75px !important; }

.mtop75 {
  margin-top: 75px !important; }

.mbottom75 {
  margin-bottom: 75px !important; }

.mleft75 {
  margin-left: 75px !important; }

.mright75 {
  margin-right: 75px !important; }

.p75 {
  padding: 75px !important; }

.ptop75 {
  padding-top: 75px !important; }

.pbottom75 {
  padding-bottom: 75px !important; }

.pleft75 {
  padding-left: 75px !important; }

.pright75 {
  padding-right: 75px !important; }

.m80 {
  margin: 80px !important; }

.mtop80 {
  margin-top: 80px !important; }

.mbottom80 {
  margin-bottom: 80px !important; }

.mleft80 {
  margin-left: 80px !important; }

.mright80 {
  margin-right: 80px !important; }

.p80 {
  padding: 80px !important; }

.ptop80 {
  padding-top: 80px !important; }

.pbottom80 {
  padding-bottom: 80px !important; }

.pleft80 {
  padding-left: 80px !important; }

.pright80 {
  padding-right: 80px !important; }

.m85 {
  margin: 85px !important; }

.mtop85 {
  margin-top: 85px !important; }

.mbottom85 {
  margin-bottom: 85px !important; }

.mleft85 {
  margin-left: 85px !important; }

.mright85 {
  margin-right: 85px !important; }

.p85 {
  padding: 85px !important; }

.ptop85 {
  padding-top: 85px !important; }

.pbottom85 {
  padding-bottom: 85px !important; }

.pleft85 {
  padding-left: 85px !important; }

.pright85 {
  padding-right: 85px !important; }

.m90 {
  margin: 90px !important; }

.mtop90 {
  margin-top: 90px !important; }

.mbottom90 {
  margin-bottom: 90px !important; }

.mleft90 {
  margin-left: 90px !important; }

.mright90 {
  margin-right: 90px !important; }

.p90 {
  padding: 90px !important; }

.ptop90 {
  padding-top: 90px !important; }

.pbottom90 {
  padding-bottom: 90px !important; }

.pleft90 {
  padding-left: 90px !important; }

.pright90 {
  padding-right: 90px !important; }

.m95 {
  margin: 95px !important; }

.mtop95 {
  margin-top: 95px !important; }

.mbottom95 {
  margin-bottom: 95px !important; }

.mleft95 {
  margin-left: 95px !important; }

.mright95 {
  margin-right: 95px !important; }

.p95 {
  padding: 95px !important; }

.ptop95 {
  padding-top: 95px !important; }

.pbottom95 {
  padding-bottom: 95px !important; }

.pleft95 {
  padding-left: 95px !important; }

.pright95 {
  padding-right: 95px !important; }

.m100 {
  margin: 100px !important; }

.mtop100 {
  margin-top: 100px !important; }

.mbottom100 {
  margin-bottom: 100px !important; }

.mleft100 {
  margin-left: 100px !important; }

.mright100 {
  margin-right: 100px !important; }

.p100 {
  padding: 100px !important; }

.ptop100 {
  padding-top: 100px !important; }

.pbottom100 {
  padding-bottom: 100px !important; }

.pleft100 {
  padding-left: 100px !important; }

.pright100 {
  padding-right: 100px !important; }

.m105 {
  margin: 105px !important; }

.mtop105 {
  margin-top: 105px !important; }

.mbottom105 {
  margin-bottom: 105px !important; }

.mleft105 {
  margin-left: 105px !important; }

.mright105 {
  margin-right: 105px !important; }

.p105 {
  padding: 105px !important; }

.ptop105 {
  padding-top: 105px !important; }

.pbottom105 {
  padding-bottom: 105px !important; }

.pleft105 {
  padding-left: 105px !important; }

.pright105 {
  padding-right: 105px !important; }

.m110 {
  margin: 110px !important; }

.mtop110 {
  margin-top: 110px !important; }

.mbottom110 {
  margin-bottom: 110px !important; }

.mleft110 {
  margin-left: 110px !important; }

.mright110 {
  margin-right: 110px !important; }

.p110 {
  padding: 110px !important; }

.ptop110 {
  padding-top: 110px !important; }

.pbottom110 {
  padding-bottom: 110px !important; }

.pleft110 {
  padding-left: 110px !important; }

.pright110 {
  padding-right: 110px !important; }

.m115 {
  margin: 115px !important; }

.mtop115 {
  margin-top: 115px !important; }

.mbottom115 {
  margin-bottom: 115px !important; }

.mleft115 {
  margin-left: 115px !important; }

.mright115 {
  margin-right: 115px !important; }

.p115 {
  padding: 115px !important; }

.ptop115 {
  padding-top: 115px !important; }

.pbottom115 {
  padding-bottom: 115px !important; }

.pleft115 {
  padding-left: 115px !important; }

.pright115 {
  padding-right: 115px !important; }

.m120 {
  margin: 120px !important; }

.mtop120 {
  margin-top: 120px !important; }

.mbottom120 {
  margin-bottom: 120px !important; }

.mleft120 {
  margin-left: 120px !important; }

.mright120 {
  margin-right: 120px !important; }

.p120 {
  padding: 120px !important; }

.ptop120 {
  padding-top: 120px !important; }

.pbottom120 {
  padding-bottom: 120px !important; }

.pleft120 {
  padding-left: 120px !important; }

.pright120 {
  padding-right: 120px !important; }

.m125 {
  margin: 125px !important; }

.mtop125 {
  margin-top: 125px !important; }

.mbottom125 {
  margin-bottom: 125px !important; }

.mleft125 {
  margin-left: 125px !important; }

.mright125 {
  margin-right: 125px !important; }

.p125 {
  padding: 125px !important; }

.ptop125 {
  padding-top: 125px !important; }

.pbottom125 {
  padding-bottom: 125px !important; }

.pleft125 {
  padding-left: 125px !important; }

.pright125 {
  padding-right: 125px !important; }

.m130 {
  margin: 130px !important; }

.mtop130 {
  margin-top: 130px !important; }

.mbottom130 {
  margin-bottom: 130px !important; }

.mleft130 {
  margin-left: 130px !important; }

.mright130 {
  margin-right: 130px !important; }

.p130 {
  padding: 130px !important; }

.ptop130 {
  padding-top: 130px !important; }

.pbottom130 {
  padding-bottom: 130px !important; }

.pleft130 {
  padding-left: 130px !important; }

.pright130 {
  padding-right: 130px !important; }

.m135 {
  margin: 135px !important; }

.mtop135 {
  margin-top: 135px !important; }

.mbottom135 {
  margin-bottom: 135px !important; }

.mleft135 {
  margin-left: 135px !important; }

.mright135 {
  margin-right: 135px !important; }

.p135 {
  padding: 135px !important; }

.ptop135 {
  padding-top: 135px !important; }

.pbottom135 {
  padding-bottom: 135px !important; }

.pleft135 {
  padding-left: 135px !important; }

.pright135 {
  padding-right: 135px !important; }

.m140 {
  margin: 140px !important; }

.mtop140 {
  margin-top: 140px !important; }

.mbottom140 {
  margin-bottom: 140px !important; }

.mleft140 {
  margin-left: 140px !important; }

.mright140 {
  margin-right: 140px !important; }

.p140 {
  padding: 140px !important; }

.ptop140 {
  padding-top: 140px !important; }

.pbottom140 {
  padding-bottom: 140px !important; }

.pleft140 {
  padding-left: 140px !important; }

.pright140 {
  padding-right: 140px !important; }

.m145 {
  margin: 145px !important; }

.mtop145 {
  margin-top: 145px !important; }

.mbottom145 {
  margin-bottom: 145px !important; }

.mleft145 {
  margin-left: 145px !important; }

.mright145 {
  margin-right: 145px !important; }

.p145 {
  padding: 145px !important; }

.ptop145 {
  padding-top: 145px !important; }

.pbottom145 {
  padding-bottom: 145px !important; }

.pleft145 {
  padding-left: 145px !important; }

.pright145 {
  padding-right: 145px !important; }

.m150 {
  margin: 150px !important; }

.mtop150 {
  margin-top: 150px !important; }

.mbottom150 {
  margin-bottom: 150px !important; }

.mleft150 {
  margin-left: 150px !important; }

.mright150 {
  margin-right: 150px !important; }

.p150 {
  padding: 150px !important; }

.ptop150 {
  padding-top: 150px !important; }

.pbottom150 {
  padding-bottom: 150px !important; }

.pleft150 {
  padding-left: 150px !important; }

.pright150 {
  padding-right: 150px !important; }

.m155 {
  margin: 155px !important; }

.mtop155 {
  margin-top: 155px !important; }

.mbottom155 {
  margin-bottom: 155px !important; }

.mleft155 {
  margin-left: 155px !important; }

.mright155 {
  margin-right: 155px !important; }

.p155 {
  padding: 155px !important; }

.ptop155 {
  padding-top: 155px !important; }

.pbottom155 {
  padding-bottom: 155px !important; }

.pleft155 {
  padding-left: 155px !important; }

.pright155 {
  padding-right: 155px !important; }

.m160 {
  margin: 160px !important; }

.mtop160 {
  margin-top: 160px !important; }

.mbottom160 {
  margin-bottom: 160px !important; }

.mleft160 {
  margin-left: 160px !important; }

.mright160 {
  margin-right: 160px !important; }

.p160 {
  padding: 160px !important; }

.ptop160 {
  padding-top: 160px !important; }

.pbottom160 {
  padding-bottom: 160px !important; }

.pleft160 {
  padding-left: 160px !important; }

.pright160 {
  padding-right: 160px !important; }

.m165 {
  margin: 165px !important; }

.mtop165 {
  margin-top: 165px !important; }

.mbottom165 {
  margin-bottom: 165px !important; }

.mleft165 {
  margin-left: 165px !important; }

.mright165 {
  margin-right: 165px !important; }

.p165 {
  padding: 165px !important; }

.ptop165 {
  padding-top: 165px !important; }

.pbottom165 {
  padding-bottom: 165px !important; }

.pleft165 {
  padding-left: 165px !important; }

.pright165 {
  padding-right: 165px !important; }

.m170 {
  margin: 170px !important; }

.mtop170 {
  margin-top: 170px !important; }

.mbottom170 {
  margin-bottom: 170px !important; }

.mleft170 {
  margin-left: 170px !important; }

.mright170 {
  margin-right: 170px !important; }

.p170 {
  padding: 170px !important; }

.ptop170 {
  padding-top: 170px !important; }

.pbottom170 {
  padding-bottom: 170px !important; }

.pleft170 {
  padding-left: 170px !important; }

.pright170 {
  padding-right: 170px !important; }

.m175 {
  margin: 175px !important; }

.mtop175 {
  margin-top: 175px !important; }

.mbottom175 {
  margin-bottom: 175px !important; }

.mleft175 {
  margin-left: 175px !important; }

.mright175 {
  margin-right: 175px !important; }

.p175 {
  padding: 175px !important; }

.ptop175 {
  padding-top: 175px !important; }

.pbottom175 {
  padding-bottom: 175px !important; }

.pleft175 {
  padding-left: 175px !important; }

.pright175 {
  padding-right: 175px !important; }

.m180 {
  margin: 180px !important; }

.mtop180 {
  margin-top: 180px !important; }

.mbottom180 {
  margin-bottom: 180px !important; }

.mleft180 {
  margin-left: 180px !important; }

.mright180 {
  margin-right: 180px !important; }

.p180 {
  padding: 180px !important; }

.ptop180 {
  padding-top: 180px !important; }

.pbottom180 {
  padding-bottom: 180px !important; }

.pleft180 {
  padding-left: 180px !important; }

.pright180 {
  padding-right: 180px !important; }

.m185 {
  margin: 185px !important; }

.mtop185 {
  margin-top: 185px !important; }

.mbottom185 {
  margin-bottom: 185px !important; }

.mleft185 {
  margin-left: 185px !important; }

.mright185 {
  margin-right: 185px !important; }

.p185 {
  padding: 185px !important; }

.ptop185 {
  padding-top: 185px !important; }

.pbottom185 {
  padding-bottom: 185px !important; }

.pleft185 {
  padding-left: 185px !important; }

.pright185 {
  padding-right: 185px !important; }

.m190 {
  margin: 190px !important; }

.mtop190 {
  margin-top: 190px !important; }

.mbottom190 {
  margin-bottom: 190px !important; }

.mleft190 {
  margin-left: 190px !important; }

.mright190 {
  margin-right: 190px !important; }

.p190 {
  padding: 190px !important; }

.ptop190 {
  padding-top: 190px !important; }

.pbottom190 {
  padding-bottom: 190px !important; }

.pleft190 {
  padding-left: 190px !important; }

.pright190 {
  padding-right: 190px !important; }

.m195 {
  margin: 195px !important; }

.mtop195 {
  margin-top: 195px !important; }

.mbottom195 {
  margin-bottom: 195px !important; }

.mleft195 {
  margin-left: 195px !important; }

.mright195 {
  margin-right: 195px !important; }

.p195 {
  padding: 195px !important; }

.ptop195 {
  padding-top: 195px !important; }

.pbottom195 {
  padding-bottom: 195px !important; }

.pleft195 {
  padding-left: 195px !important; }

.pright195 {
  padding-right: 195px !important; }

.m200 {
  margin: 200px !important; }

.mtop200 {
  margin-top: 200px !important; }

.mbottom200 {
  margin-bottom: 200px !important; }

.mleft200 {
  margin-left: 200px !important; }

.mright200 {
  margin-right: 200px !important; }

.p200 {
  padding: 200px !important; }

.ptop200 {
  padding-top: 200px !important; }

.pbottom200 {
  padding-bottom: 200px !important; }

.pleft200 {
  padding-left: 200px !important; }

.pright200 {
  padding-right: 200px !important; }

/*BORDER*/
.noborder, .dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none !important; }

.bleft {
  border-left: none !important; }

.bright {
  border-right: none !important; }

.btop {
  border-top: none !important; }

.bbottom {
  border-bottom: none !important; }

.sideradius {
  border-radius: 30px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px; }

.circle {
  border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%; }

.rad {
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* SCROLLBAR */
.scroll {
  overflow: scroll; }

.noscroll {
  overflow: hidden; }

.scroll-y {
  overflow-y: scroll; }

.scrollyno {
  overflow-y: hidden; }

/* SELECTION */
.pointer, .btn-putih {
  cursor: pointer; }

::selection, ::-ms-selection, ::-moz-selection, ::-o-selection, ::-webkit-selection {
  background: #14A689;
  color: #fff; }

@media screen and (max-width: 768px) {
  .fs6 {
    font-size: 4pt !important; }

  .fs7 {
    font-size: 5pt !important; }

  .fs8 {
    font-size: 6pt !important; }

  .fs9 {
    font-size: 7pt !important; }

  .fs10 {
    font-size: 8pt !important; }

  .fs11 {
    font-size: 9pt !important; }

  .fs12, .btn-putih {
    font-size: 10pt !important; }

  .fs13 {
    font-size: 11pt !important; }

  .fs14 {
    font-size: 12pt !important; }

  .fs15 {
    font-size: 13pt !important; }

  .fs16 {
    font-size: 14pt !important; }

  .fs17 {
    font-size: 15pt !important; }

  .fs18 {
    font-size: 16pt !important; }

  .fs19 {
    font-size: 17pt !important; }

  .fs20 {
    font-size: 18pt !important; }

  .fs21 {
    font-size: 19pt !important; }

  .fs22 {
    font-size: 20pt !important; }

  .fs23 {
    font-size: 21pt !important; }

  .fs24 {
    font-size: 22pt !important; }

  .fs25 {
    font-size: 23pt !important; }

  .fs26 {
    font-size: 24pt !important; }

  .fs27 {
    font-size: 25pt !important; }

  .fs28 {
    font-size: 26pt !important; }

  .fs29 {
    font-size: 27pt !important; }

  .fs30 {
    font-size: 28pt !important; }

  .fs31 {
    font-size: 29pt !important; }

  .fs32 {
    font-size: 30pt !important; }

  .fs33 {
    font-size: 31pt !important; }

  .fs34 {
    font-size: 32pt !important; }

  .fs35 {
    font-size: 33pt !important; } }
/* Custom */
.footer {
  bottom: 0;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px; }

.boxsha {
  box-shadow: none; }

.nobg {
  background: transparent; }

.hcenter {
  margin: auto;
  clear: both; }

.btrans {
  opacity: 0.5 !important; }

@media screen and (max-width: 768px) {
  .ls1 {
    letter-spacing: 1px !important; }

  .h1 {
    height: 10px; }

  .w1 {
    width: 10px; }

  .ls2 {
    letter-spacing: 2px !important; }

  .h2 {
    height: 20px; }

  .w2 {
    width: 20px; }

  .ls3 {
    letter-spacing: 3px !important; }

  .h3 {
    height: 30px; }

  .w3 {
    width: 30px; }

  .ls4 {
    letter-spacing: 4px !important; }

  .h4 {
    height: 40px; }

  .w4 {
    width: 40px; }

  .ls5 {
    letter-spacing: 5px !important; }

  .h5 {
    height: 50px; }

  .w5 {
    width: 50px; }

  .lh1 {
    line-height: 1px !important; }

  .lh2 {
    line-height: 2px !important; }

  .lh3 {
    line-height: 3px !important; } }
/* FONT */
body {
  font-family: 'openreg';
  color: #1A1A1A; }

.openreg {
  font-family: 'openreg'; }

.openlight {
  font-family: 'openlight'; }

.openbold {
  font-family: 'openbold'; }

.openextra {
  font-family: 'openextra'; }

input {
  outline: none !important; }

a {
  text-decoration: none; }

.shad {
  box-shadow: 1px 1px 2px 1px #D0D9D6; }

.link a {
  text-decoration: none;
  color: #A916BA;
  font-weight: bold; }

/* Data Table */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  border: 0px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 0px; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #1F96B6; }

/* Button */
.btn-putih {
  @inlude border-rad(10px);
  shadow: none !important; }

.radius {
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px; }

.radius30 {
  border-radius: 30px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px; }

.scroll {
  overflow-x: auto; }

/* Collapsing Navbar Styles */
.navbar-nav > li > a {
  color: #A916BA; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent !important;
    border-bottom: 2px solid #A916BA !important; }
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: transparent !important; }

@media (min-width: 768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    /* Add additional styles here for the UNCOLLAPSED state */ }

  .navbar-default.affix {
    padding: 10;
    /* Add additional styles here for the COLLAPSED state */ } }
.top-nav-collapse {
  background: #fff  !Important;
  border: 0px !important;
  padding: 10px !important; }

img {
  transition: all .2s ease-in-out; }

.zoomeffect:hover img {
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  transform: scale(1.25); }

.borderbwh {
  border-bottom: 2px solid #A916BA !important; }

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666; }
  .close:hover {
    opacity: 1; }

.textgradient {
  background: -webkit-linear-gradient(#A916BA, #F84C63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%; }

#sidebar-wrapper {
  margin-left: -200px;
  left: 70px;
  width: 200px;
  background: #001317;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
  box-shadow: none; }

.sidebar-nav {
  display: block;
  float: left;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0; }

.sidebar-nav .active a {
  color: #BFBDC0;
  background-color: #010B0C; }

#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto; }

#wrapper.active {
  padding-left: 200px; }

#wrapper.active #sidebar-wrapper {
  left: 200px; }

#page-content-wrapper {
  width: 100%; }

#sidebar_menu li a, .sidebar-nav li a {
  color: #BFBDC0;
  display: block;
  float: left;
  text-decoration: none;
  width: 200px;
  background: #001317;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s; }

.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7; }

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px; }

.sidebar-nav li a {
  width: 100%;
  background-color: #001317;
  color: #BFBDC0;
  display: block;
  text-decoration: none; }

.sidebar-nav li a:hover {
  background-color: #010B0C;
  text-decoration: none; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background-color: #010B0C;
  color: #BFBDC0; }

.sidebar-nav > .sidebar-brand {
  height: 60px;
  line-height: 60px;
  font-size: 18px; }

.sidebar-nav > .sidebar-brand a {
  color: #001317; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #001317;
  background: none; }

#main_icon {
  float: none;
  padding-left: 45px; }

.sub_icon {
  float: left;
  padding-right: 10px;
  padding-top: 10px; }

.content-header {
  height: 65px;
  line-height: 65px; }

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block; }

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s; }

  #sidebar-wrapper {
    left: 70px; }

  #wrapper.active {
    padding-left: 200px; }

  #wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s; } }
.bgatas {
  background: transparent !important;
  border-top: 1px solid #f2f2f2 !important; }

.bgkiri {
  background: transparent !important;
  border-left: 2px solid #f2f2f2 !important; }

.bgkiri2 {
  background: transparent !important;
  border-left: 2px solid #A916BA !important; }

.scrolld {
  overflow-x: auto; }

.detail {
  border-radius: 10px; }

.bt-pro {
  text-decoration: none !important; }
  .bt-pro:active {
    cursor: pointer;
    border-bottom: 1px solid #ffffff; }

.img-pro {
  display: block;
  max-width: 100%;
  height: auto; }

.ungus {
  width: 50px;
  border-color: 2px solid #A916BA;
  margin-top: -18px; }

.status {
  width: 100%;
  border-radius: 10px;
  color: #fff; }

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.image-preview-input-title {
  margin-left: 2px; }

button {
  border-radius: 0.3em;
  padding: 0.5em; }

.contain {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin: -8px; }

.navigati {
  align-items: center;
  background: #A916BA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em 1em; }
  .navigati .nav_Item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end; }
  .navigati .title {
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-start; }
  .navigati .dragDelete {
    align-self: center;
    border: 1px dashed white;
    border-radius: 0.3em;
    margin-right: 1em;
    padding: 0.5em; }
  .navigati #newButton {
    align-self: center;
    padding: 0.9em;
    background: #fff;
    color: #A916BA; }

.main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: center;
  width: 100%; }
  .main .kolom {
    align-items: stretch;
    border: 1px dashed gray;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 0.5em;
    padding: 0.5em; }

.kolom-header {
  border-bottom: 1px solid gray;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  width: 100%; }
  .kolom-header input {
    display: none; }

.sidebar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 30px; }

/* Profile container */
.profile {
  margin: 20px 0; }

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff; }

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #BFBDC0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  color: #BFBDC0;
  font-size: 12px;
  margin-bottom: 15px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px; }

.profile-userbuttons .btn:last-child {
  margin-right: 0px; }

.profile-usermenu {
  margin-top: 30px; }

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7; }

.profile-usermenu ul li:last-child {
  border-bottom: none; }

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px; }

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1; }

.profile-usermenu ul li.active {
  border-bottom: none; }

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px; }

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px; }

.badgeAlert {
  display: inline-block;
  min-width: 10px;
  padding: 3px 4px;
  font-size: 9px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #16876B;
  border-radius: 10px;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px; }

.btn-putih {
  background-color: #fff; }

.btn-aksi {
  height: 40px;
  width: 40px; }

.btn-plus {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  z-index: 99999; }

/*# sourceMappingURL=style.css.map */
