/* FONT */

body{
    font-family: 'openreg';
    color: #1A1A1A;
}

.openreg{
    font-family: 'openreg';
}

.openlight{
    font-family: 'openlight';
}

.openbold{
    font-family: 'openbold';
}

.openextra{
    font-family: 'openextra';
}

input{
    outline: none $imp
}

a {
    text-decoration: none;
}

.shad{
    box-shadow: 1px 1px 2px 1px #D0D9D6;
}

.link a {
    text-decoration: none;
    color: #A916BA;
    font-weight:bold;
}

/* Data Table */

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{border: 0px}
.dataTables_wrapper .dataTables_paginate .paginate_button{@extend .noborder;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{}
.dataTables_wrapper .dataTables_paginate .paginate_button{margin-left: 0px}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{background: #1F96B6;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{}


/* Button */

%btn{
    @inlude border-rad(10px);
    @extend .p10, .pointer, .fs12,.m5,.aligncenter, .block, .wdh100;
    shadow: none $imp;
}


.radius{
    @include border-rad(5px);
}

.radius30{
    @include border-rad(30px);
}

.scroll{
    overflow-x: auto;   
}

/* Collapsing Navbar Styles */

 .navbar-nav {
        > li > a {
            color : #A916BA;
            
            &:hover,
            &:focus{
                background-color: transparent $imp;
                border-bottom: 2px solid #A916BA $imp;
            }
        }
     > .active > a {
         &,
         &:hover,
         &:focus{
             background-color: transparent $imp;
         }
     }
    }

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px 0;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 10;
    /* Add additional styles here for the COLLAPSED state */
  }
}


.top-nav-collapse{
    background: #fff  !Important;
    border: 0px $imp;
    padding: 10px $imp;
}

img {
    transition: all .2s ease-in-out; }

.zoomeffect:hover img {
  @include transform(scale(1.25));
  transform: scale(1.25);
}

.borderbwh{
    border-bottom: 2px solid #A916BA $imp;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }

.textgradient{
    background: -webkit-linear-gradient(#A916BA, #F84C63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 70px;
    width: 200px;
    background: #001317;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    box-shadow: none;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav .active a { 
    color: #BFBDC0;
    background-color: #010B0C;
}


#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #BFBDC0;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    background: #001317;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  width: 100%;
  background-color: #001317;
  color: #BFBDC0;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background-color: #010B0C;
  text-decoration: none;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background-color: #010B0C;
  color: #BFBDC0;
}

.sidebar-nav > .sidebar-brand {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #001317;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #001317;
  background: none;
}

#main_icon
{
    float:none;
    padding-left: 45px;
}
.sub_icon
{
   float:left;
   padding-right: 10px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s;
}
}

.bgatas{
    background: transparent $imp;
    border-top: 1px solid #f2f2f2 $imp;
}

.bgkiri{
    background: transparent $imp;
    border-left: 2px solid #f2f2f2 $imp;
}

.bgkiri2{
    background: transparent $imp;
    border-left: 2px solid #A916BA $imp;
}

.scrolld{
    overflow-x: auto;   
}

.detail{
    border-radius: 10px;
}

.bt-pro{
    text-decoration: none $imp;
    &:active{
        cursor: pointer;
        border-bottom: 1px solid #ffffff;
        
    }
}

.img-pro{
  display: block;
  max-width: 100%;
  height: auto;
}
.ungus
{
   width: 50px; 
    border-color: 2px solid #A916BA; margin-top: -18px; 
}

.status{
    width: 100%;  
    border-radius: 10px;
    color: #fff;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

button {
    border-radius: 0.3em;
    padding: 0.5em;
}

.contain {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: -8px;
}

.navigati {
    align-items: center;
    background: #A916BA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em 1em;
    
    .nav_Item {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
    }
    
    .title {
        font-size: 20px;
        font-weight: bold;
        justify-content: flex-start;
    }
    
    .dragDelete {
        align-self: center;
        border: 1px dashed white;
        border-radius: 0.3em;
        margin-right: 1em;
        padding: 0.5em;
    }
    
    #newButton {
        align-self: center;
        padding: 0.9em;
        background: #fff;
        color: #A916BA;
    }
}

.main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: center;
    width: 100%;
    
    .kolom {
        align-items: stretch;
        border: 1px dashed gray;
        border-radius: 0.3em;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        margin: 0.5em;
        padding: 0.5em;
    }
}
    
.kolom-header {
    border-bottom: 1px solid gray;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    width: 100%;
    
    input {
        display: none;
    }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky $imp;
  top: 30px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #BFBDC0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #BFBDC0;
  font-size: 12px;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


.badgeAlert {
    display: inline-block;
    min-width: 10px;
    padding: 3px 4px;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #16876B;
    border-radius: 10px;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px
}

.btn-putih{
    @include btnset(#fff);
    @extend .bgbirumuda, .textputih;
    &:hover{
        @extend .bgbirumuda, .textputih;
    }
    &:active{
        @extend .bgbirumuda;
    }
}


.btn-aksi{
    height: 40px;
    width: 40px;
}

.btn-plus{
    height: 40px; width: 40px; border-radius: 50px;
    z-index: 99999;
}

